#app{
  position: fixed;
  height: 100%;
  width: 100%;
  /*top: 0;
  left: 0;*/
}

#quote-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:150%;
  font-family: Impact, Charcoal, sans-serif;
  text-decoration-style: solid;
  text-align: center;
  color: #A52A2A;
  background:#F8F8FF;
  border: 2px solid black;
  border-radius: 10px;
  max-width: 900px;
  width: 100%;
  max-height: 600px;
  min-height: 150px;
  height: auto;
  
}

button#new-quote, a#tweet-quote{
      position: absolute;
      bottom: 15px;
      left: 15px;
      background: lighten($default, 25%);
      border: 1px solid darken($default, 5%);
      border-radius: 4px;
      padding: 8px 12px;
      text-transform: uppercase;
      color: darken($default, 25%);
      font-family: $defaultFont;
      font-size: 0.5em;
      transition: all 200ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
      cursor: pointer;
      
      &:hover{
        background: lighten($default, 15%);
      }
    }
    
    a#tweet-quote{
      text-decoration: none;
      right: 15px;
      left: auto;
      font-size: 1em;
    }
    
    #quote-content{
      max-height: calc(100% - 140px);
      height: auto;
      position: relative;
      width: calc(100% - 180px);
      margin: 60px 90px 80px;

    }
      
      #text{
        font-size: 2em;
        position: relative;

      }

      #text:before, #text:after {
    content: '"';
    }
      
      #author{
        position: relative;
        text-align: right;
        font-style: italic;
        font-size: 1.2em;
        padding-top: 30px;
        
        
        
      }

      #author:before{
        content: "- ";

      }
    
  



